[submodule "snippets"]
        path = snippets
        url = https://github.com/sonictk/yasnippet-snippets.git
        branch = master
[submodule "yasmate"]
        path = yasmate
        url = https://github.com/capitaomorte/yasmate.git
